doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/app.css")
        title Projects | #{title}
    body 
        header.banner
            h1 Project Manager App
            a(href="/") Home
            a(href="#") Sign out
        main.content
            aside.content-project
                .panel.create-project
                    a(href="/new-project").button Add new
                        span +
                .panel.list-projects
                    h2 Projects
                    ul#projects.projects
                        if listProjects
                            each project in listProjects
                                li
                                    a(href=`/projects/${project.url}`)=project.name
            block content